NEXT_PUBLIC_GRAPHQL_URL=http://localhost:8080/query
DATABASE_URL=postgres://store:store@localhost:5432/store?sslmode=disable
REDIS_URL=redis://localhost:6379/0
PORT=8080
SMTP_HOST=smtp_server_address(smtp.gmail.com)
SMTP_PORT=587
SMTP_USER=your_email
SMTP_PASS=If you use gmail, you can generate app password from your google account
SMTP_FROM=Mule Store <your_email@gmail.com>
STRIPE_SECRET_KEY=sk_test_your_key
STRIPE_SUCCESS_URL=http://localhost:3000/checkout/success
STRIPE_CANCEL_URL=http://localhost:3000/checkout
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret
NEXT_PUBLIC_PAYPAL_CLIENT_ID=your_paypal_client_id
JWT_SECRET=change-me
